:host {
  display: inline-block;
}

a,
button {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1.75rem 5.2rem;
  border: none;
  border-radius: 99.9rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  gap: 2.5rem;
  text-decoration: none;
}

.white-outline {
  border: 1px solid var(--light-white);
  background-color: transparent;
  color: var(--light-white);
}

.gray-outline {
  border: 1px solid var(--dark-gray);
  background-color: transparent;
  color: var(--dark-gray);
}

.white {
  border: none;
  background-color: var(--light-white);
  color: var(--main-black);
}

.black-outline {
  border: 1px solid var(--main-black);
  background-color: transparent;
  color: var(--main-black);
}

.orange-outline {
  border: 1px solid var(--main-orange);
  background-color: transparent;
  color: var(--main-orange);
}

.white-orange {
  border: none;
  background-color: var(--light-white);
  color: var(--main-orange);
}

.black {
  border: none;
  background-color: var(--main-black);
  color: var(--light-white);
}
