@use 'mixins' as *;

:host {
  display: flex;
  justify-content: center;
  padding: 12.7rem 0 5.9rem;
  background-color: #e8e8e8;
}

section {
  display: flex;
  justify-content: space-between;
  gap: 5rem;

  .contact-info {
    display: flex;
    max-width: 71.3rem;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;

    .info-title {
      h2 {
        margin-bottom: 7.3rem;
      }
    }

    .info-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2.5rem;

      .mail {
        a {
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }

  .contact-form {
    display: flex;
    max-width: 90rem;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 5.6rem;
    border-radius: 1rem;
    background-color: #e5e6e8;
    gap: 4.8rem;

    .form-title {
      h2 {
        font-size: 3rem;
        font-weight: 400;
      }

      p {
        line-height: 2.1rem;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .form-field {
        display: flex;
        min-width: 23rem;
        flex: 1;
        flex-direction: column;

        .input-container {
          position: relative;
          display: flex;
          flex-direction: column;

          input,
          textarea {
            min-height: 5.6rem;
            border: none;
            border-bottom: 0.15rem solid #696a6c;
            background-color: transparent;
            color: var(--main-black);
            font-size: 1.8rem;
            outline: none;
            resize: none;

            &:focus ~ label,
            &:valid ~ label {
              top: -0.6rem;
              color: #696a6c;
              opacity: 1;
              scale: 0.8;
              transition: all 0.3s ease;
            }
          }

          textarea {
            min-height: 13rem;
            padding-top: 2rem;
          }

          label {
            position: absolute;
            top: 1.5rem;
            color: #bcbcc2;
            pointer-events: none;
            transform-origin: top left;
            transition: all 0.3s ease;
          }
        }
      }

      app-button {
        margin-top: 2.3rem;
      }
    }
  }
}

@include custom-breakpoint(1200) {
  section {
    flex-direction: column;

    .contact-info {
      .info-title {
        h2 {
          margin-bottom: 0;
        }
      }

      img {
        display: none;
      }
    }

    .contact-form {
      max-width: initial;
    }
  }
}

@include custom-breakpoint(650) {
  section {
    .contact-form {
      padding: 3rem;
    }
  }
}
