:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 3.8rem 3.2rem 2.3rem;
  background-color: #f9f9f9;
  container-name: review-card;
  container-type: inline-size;
  gap: 2.7rem;
}

.review-header {
  display: flex;
  gap: 1.9rem;

  .client-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    h5 {
      color: var(--main-black);
      font-size: 1.9rem;
      font-weight: 300;
    }

    p {
      color: var(--darker-gray);
      font-size: 1.7rem;
      font-weight: 300;
      line-height: 1.7rem;
    }
  }
}

.review-content {
  p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    color: #707070;
    font-size: clamp(1.8rem, 4cqi, 2rem);
    -webkit-line-clamp: 6;
    line-clamp: 6;
    text-overflow: ellipsis;
  }
}

@container (max-width: 560px) {
  .review-content {
    p {
      -webkit-line-clamp: 9;
      line-clamp: 9;
    }
  }
}
