@use 'mixins' as *;

:host {
  position: relative;
  display: flex;
  min-height: clamp(1rem, 27cqi, 50.8rem);
  justify-content: center;
  background-color: var(--main-orange);

  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/pattern.webp');
    background-position: 94% 32%;
    content: '';
    opacity: 0.3;
  }
}

section {
  z-index: 2;
  align-items: center;

  .call-to-action {
    display: flex;
    max-width: 82.9rem;
    flex-direction: column;
    margin: 5rem 0;
    gap: 4rem;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: -5.6cqi;
      left: 2.5rem;
      width: clamp(70rem, 118%, 106.2rem);
    }
  }

  @include custom-breakpoint(800) {
    .call-to-action {
      max-width: initial;
      margin: 8rem 0;

      h2 {
        text-align: center;
        text-wrap: balance;
      }

      app-button {
        display: flex;
      }
    }

    .image-container {
      display: none;
    }
  }
}
