a {
  text-decoration: none;
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 4rem 2.8rem 1.5rem;
  container-type: inline-size;
  cursor: pointer;
}

app-icon {
  z-index: 1;
  align-self: flex-end;
}

.location-info {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    font-size: clamp(2.5rem, 9.2cqi, 3rem);
    line-height: clamp(2.6rem, 9.2cqi, 3.1rem);
  }

  address {
    min-height: 6.6rem;
    font-size: clamp(2rem, 7.2cqi, 2.5rem);
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--main-black);
    content: '';
    opacity: 0.8;
  }
}
