:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
  padding: 4rem 2.8rem 1.5rem 2.8rem;
  overflow: hidden;
  cursor: pointer;
  container-type: inline-size;
}

app-icon {
  align-self: flex-end;
  z-index: 1;
}

.location-info {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: .5rem;

  h2 {
    font-size: clamp(2.5rem, 9.2cqi, 3rem);
    line-height: clamp(2.6rem, 9.2cqi, 3.1rem);
  }

  address {
    font-size: clamp(2.0rem, 7.2cqi, 2.5rem);
    min-height: 6.6rem;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &::after {
    position: absolute;
    display: block;
    content: '';
    background: var(--main-black);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: .8;
  }
}
