@use 'mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12.5rem;
}

section {
  width: calc(100% - var(--section-x-margin) * 2);
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 15rem;

  .value {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 5rem;

    .value-highlights {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      max-width: 76.7rem;
      flex: 1 1 0;
    }

    .value-info {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      max-width: 83.5rem;

      .value-text {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        margin-bottom: 6rem;
      }

      .value-metrics {
        display: flex;
        gap: 4rem 1.5rem;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }

    @include custom-breakpoint(1200) {
      flex-direction: column-reverse;

      .value-highlights,
      .value-info {
        max-width: initial;
      }

      .value-info {
        .value-metrics {
          justify-content: space-around;
        }
      }
    }

    @include custom-breakpoint(600) {

      .value-info {
        .value-metrics {
          justify-content: space-between;
        }
      }
    }
  }

}

