{
  "singleQuote": true,
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@angular",
    "",
    "^rxjs",
    "",
    "^@app/(.*)$",
    "^@core/(.*)$",
    "^@assets/(.*)$",
    "^@shared$",
    "^@shared/(.*)$",
    "^@views$",
    "^@views/(.*)$",
    "",
    "^@?\\w",
    "",
    "^[./](?!.*\\.(css|scss|sass|less)$)",
    "",
    ".*\\.(css|scss|sass|less)$"
  ],
  "importOrderSeparation": true,
  "importOrderCaseSensitive": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
