<section>
  <div class="viewcase-title">
    <h2 class="black-text">Historias reales que respaldan la calidad de nuestro trabajo.</h2>
    <p>Ofrecemos un <b>portafolio integral de servicios</b> orientados al mantenimiento, reparación y
      fabricación de soluciones a la
      medida. <b>Contamos con amplia experiencia</b> en reparaciones de suspensión, chasis, carrocerías y furgones, así
      como
      en
      proyectos de transformación de acero y estructuras personalizadas.</p>
  </div>
  <div class="viewcase-content">
    <div class="viewcase-video">

    </div>
  </div>
</section>
