<section>
  <div class="banner-content">
    <h1 class="l-white-text">Altos estándares de calidad e innovación, garantizando soluciones integrales y confianza para su maquinaria.</h1>
    <p class="white-text">Trabajamos con <b>compromiso y experiencia</b> para ofrecer mantenimiento, reparación y fabricación a la medida. Nuestra
    prioridad es <b>asegurar la eficiencia</b>, prolongar la vida útil de su maquinaria y brindarle <b>soluciones confiables</b>
    respaldadas por materiales de la mejor calidad.</p>
    <div class="call-to-action">
      <app-button text="Nuestros Servicios"  icon="navigation" variant="WhiteOutline"/>
      <app-button text="Sobre Nosotros" variant="WhiteOrange"/>
    </div>
  </div>
</section>
