@use 'mixins' as *;

:host {
  display: flex;
  width: 100vw;
  min-height: min(100vh, 108rem);
  justify-content: center;
  background-image: url('/images/banner.webp');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  align-items: flex-end;
  padding-top: 12.5rem;

  .banner-content {
    display: flex;
    max-width: 70.5rem;
    flex-direction: column;
    padding: 0 0 6.519%;
    gap: 3.7rem;

    p {
      margin-bottom: 3.3rem;

      @include custom-breakpoint(600) {
        margin-bottom: 0;
      }
    }

    .call-to-action {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem 3.9rem;

      @include custom-breakpoint(450) {
        app-button {
          display: flex;
          flex-grow: 1;
        }
      }
    }
  }
}
