@use 'mixins' as *;

:host {
  display: flex;
  justify-content: center;
  padding: 19.6rem 0 28.4rem;
  background-color: var(--main-black);
}

section {
  flex-direction: column;
  gap: 3.5rem;

  h2 {
    max-width: 120rem;
    align-self: center;
    text-align: center;
    text-wrap: balance;

    &.variant {
      align-self: flex-start;
      text-align: left;
    }

    @include custom-breakpoint(700) {
      text-align: left;
    }
  }

  .swiper-container {
    position: relative;
    left: 50%;
    width: 100vw;
    height: 0;
    margin-left: -50vw;
  }
}
