@use 'mixins' as *;

:host {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: min(100vh, 83rem);
  justify-content: center;
  background-color: var(--main-black);
}

section {
  align-items: flex-end;
  padding-top: 12.5rem;

  .banner-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0 10.9%;
    gap: 3.7rem;

    h1 {
      max-width: 78.8rem;
    }
    
    p {
      max-width: 95.7rem;
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .3;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      opacity: .7;
      width: 100%;
      height: 100%;
    }

    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}