@use 'mixins' as *;

:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 90rem;
  padding: 21rem 0 33.8rem 0;
  background-color: var(--main-black);
  margin-bottom: 25rem;
}

section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 3.5rem;

  .services-heading {
    display: flex;
    justify-content: space-between;
    gap: 3.7rem 3rem;
    flex-wrap: wrap;
    flex-grow: 1;

    h2 {
      flex: 1 0 0;
      max-width: 84.2rem;
    }

    p {
      flex: 1 5 0;
      max-width: 71.4rem;
    }

    @include custom-breakpoint(1300) {
      flex-direction: column;

      h2 {
        max-width: none;
        text-wrap: balance  ;
      }

      p {
        max-width: 1900rem;
      }
    }
  }
}
