@use 'mixins' as *;

:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 90rem;
  padding: 21rem 0 33.8rem 0;
  background-color: var(--main-black);
  margin-bottom: 30rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/pattern.webp');
    background-position: -2.4rem 12rem;
    opacity: 0.03;
    z-index: 1;
  }
}

section {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 3.5rem;
  z-index: 2;

  .services-heading {
    display: flex;
    justify-content: space-between;
    gap: 3.7rem 3rem;
    flex-wrap: wrap;
    flex-grow: 1;

    h2 {
      flex: 1 0 0;
      max-width: 84.2rem;
    }

    p {
      flex: 1 5 0;
      max-width: 71.4rem;
    }

    @include custom-breakpoint(1300) {
      flex-direction: column;

      h2 {
        max-width: none;
        text-wrap: balance;
      }

      p {
        max-width: 1900rem;
      }
    }
  }
}
