@use 'mixins' as *;

:host {
  position: relative;
  display: flex;
  min-height: 90rem;
  align-items: flex-start;
  justify-content: center;
  padding: 21rem 0 33.8rem;
  margin-bottom: 30rem;
  background-color: var(--main-black);

  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/pattern.webp');
    background-position: -2.4rem 12rem;
    content: '';
    opacity: 0.03;
  }
}

section {
  z-index: 2;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 3.5rem;

  .services-heading {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.7rem 3rem;

    h2 {
      max-width: 84.2rem;
      flex: 1 0 0;
    }

    p {
      max-width: 71.4rem;
      flex: 1 5 0;
    }

    @include custom-breakpoint(1300) {
      flex-direction: column;

      h2 {
        max-width: none;
        text-wrap: balance;
      }

      p {
        max-width: 1900rem;
      }
    }
  }
}
