:host {
  display: flex;
  height: 10.1rem;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  overflow-x: auto;
  pointer-events: none;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 13.2rem;
    animation: spin 30s infinite linear;
    gap: 13.2rem;

    .slide {
      flex: 0 0 auto;
      opacity: 0.3;
    }
  }
}

@keyframes spin {
  from {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}
