:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4.1rem;
}

h4 {
  flex: 0 0 content;
  font-size: 2.7rem;
  font-weight: 400;

  &.white {
    color: var(--dark-gray);
  }

  &.black {
    color: var(--main-gray);
  }
}

app-button {
  display: flex;
  flex: 1 0 auto;
}

.loading-bar {
  position: relative;
  width: 100%;
  height: 0.1rem;
  flex: 1000 1 0;
  border-radius: 0.1rem;

  &__outer {
    min-width: 27.5rem;

    &.white {
      background-color: var(--darker-gray);
    }

    &.black {
      background-color: var(--main-gray);
    }
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 0.1rem;

    &.white {
      background-color: var(--light-white);
    }

    &.black {
      background-color: var(--main-black);
    }
  }
}

.swiper-controls {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: 3.5rem;

  app-button {
    display: flex;
    flex-grow: 1;
  }
}
