:host {
  position: relative;
  display: flex;
  height: 61rem;
  align-items: center;
  justify-content: center;
  background-image: url('/images/second-banner.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(18 19 21 / 90%);
    content: '';
  }
}

section {
  z-index: 1;
  max-width: 142rem;
  justify-content: center;

  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.6rem;

    h2 {
      text-align: center;
      text-wrap: balance;
    }

    .call-to-action {
      display: flex;
      flex-wrap: wrap;
      gap: 3.6rem;

      app-button {
        display: flex;
        flex-grow: 1;
      }
    }
  }
}
