:host {
  display: flex;
  width: 100%;
  justify-content: center;

  .single-question {
    width: 100%;
    padding: 2.8rem 3.4rem;
    border-radius: 1rem;
    background-color: var(--light-black);
    cursor: pointer;
    transition:
      color,
      background-color 0.3s ease-in-out;

    &.white-variant {
      background-color: var(--light-white);

      &.active {
        background-color: var(--light-black);

        .question-title {
          h2 {
            color: var(--dark-gray);
          }
        }

        .question-answer {
          p {
            color: var(--darker-gray);
          }
        }
      }
    }

    .question-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;

      h2 {
        color: var(--dark-gray);
        font-size: clamp(2rem, 2.6cqi, 2.5rem);
        font-weight: 400;
        line-height: clamp(2.1rem, 2.6cqi, 2.6rem);
        user-select: none;
      }

      app-icon {
        transition: all 0.3s ease-in-out;
        user-select: none;
      }
    }

    .question-answer {
      overflow: hidden;
      max-height: 0;
      margin-right: 30px;
      color: var(--main-black);
      opacity: 0;
      transition: all 0.3s ease-in-out;

      p {
        margin-top: 2.2rem;
        cursor: text;
        font-size: clamp(1.8rem, 2.6cqi, 2rem);
        font-weight: 400;
        line-height: clamp(2rem, 2.6cqi, 2.1rem);
      }
    }

    &.active {
      background-color: var(--light-white);

      .question-title {
        h2 {
          color: var(--main-black);
        }

        app-icon {
          transform: rotate(45deg);
        }
      }

      .question-answer {
        opacity: 0.62;
      }
    }
  }
}
