.card-info {
  cursor: pointer;
  container-type: inline-size;
  position: relative;
  display: flex;
  height: 100%;
  flex: 1 1 auto;
  align-items: flex-end;
  text-decoration: none;
  line-height: 3.7rem;
  overflow: hidden;

  .card-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transform: scale(1);
    transition: transform 0.3s ease;
  }

  &::before {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(248, 105, 1, 0) 0%, rgba(232, 98, 0, 1) 100%);
    content: '';
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: opacity 0.3s ease;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-black);
    content: '';
    opacity: 0.6;
    pointer-events: none;
    z-index: 0;
  }

  &:hover,
  &:focus-visible {
    &::before {
      opacity: 1;
    }

    .card-image {
      transform: scale(1.01);
    }
  }

  h4 {
    position: relative;
    padding: 2.1rem 0;
    font-weight: 300;
    letter-spacing: normal;
    z-index: 1;
    border-top: 0.1rem solid #ffffff3a;
    width: 100%;
    margin: 0 3.4rem;
  }
}

@container (max-width: 455px) {
  .card-info {
    h4 {
      margin: 0 1.4rem;
    }
  }
}
