:host {
  position: relative;
  display: flex;
  height: 100%;
  align-items: flex-end;
  background-image: url('/images/service-image.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  container-type: inline-size;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-black);
    content: '';
    opacity: 0.6;
  }
}

.card-info {
  z-index: 1;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding: 2.1rem 0;
  border-top: 0.1rem solid var(--darker-gray);
  margin: 0 3.4rem;
  line-height: 3.7rem;

  h4 {
    font-weight: 300;
    letter-spacing: normal;
  }
}

@container (max-width: 455px) {
  .card-info {
    margin: 0 1.4rem;
  }
}
