.card-info {
  cursor: pointer;
  container-type: inline-size;
  position: relative;
  display: flex;
  height: 100%;
  flex: 1 1 auto;
  align-items: flex-end;
  text-decoration: none;
  line-height: 3.7rem;
  background-image: url('/images/service-image.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-black);
    content: '';
    opacity: 0.6;
    pointer-events: none;
    z-index: 0;
  }

  h4 {
    padding: 2.1rem 0;
    font-weight: 300;
    letter-spacing: normal;
    z-index: 1;
    border-top: 0.1rem solid var(--darker-gray);
    width: 100%;
    margin: 0 3.4rem;
  }
}

@container (max-width: 455px) {
  .card-info {
    h4 {
      margin: 0 1.4rem;
    }
  }
}
