<div class="navigator-element">
  <div class="navigator-element-container">
    <img class="logo-element" src="images/etm-logo.svg" alt="Logo ETM" />
    <div class="menu-element">
      <div class="links-group">
        <h2 class="as-h5">Menu</h2>
        <ul class="links-element">
          <li><a href="/">Inicio</a></li>
          <li><a href="/servicios">Nuestros Servicios</a></li>
          <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
          <li><a href="/galeria">Galería</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="links-group">
        <h2 class="as-h5">Servicios</h2>
        <ul class="links-element">
          <li>
            <a href="/servicios/mantenimiento-reparacion">
              Mantenimiento y Reparación de Vehículos
            </a>
          </li>
          <li>
            <a href="/servicios/tecnologia-vehiculos-electricos">
              Tecnología y Vehículos Eléctricos
            </a>
          </li>
          <li><a href="/servicios/repuestos-inventario">Repuestos e Inventario</a></li>
          <li>
            <a href="/servicios/fabricacion-transformacion">
              Fabricación y Transformación de Materiales
            </a>
          </li>
        </ul>
      </div>
      <div class="links-group">
        <h2 class="as-h5">Sobre Nosotros</h2>
        <ul class="links-element">
          <li><a href="/sobre-nosotros">Misión y Visión</a></li>
          <li><a href="/sobre-nosotros">Valores Corporativos</a></li>
          <li><a href="/sobre-nosotros">Quienes Somos</a></li>
          <li><a href="/sobre-nosotros">Ubicaciones Estratégicas</a></li>
        </ul>
      </div>
      <div class="links-group">
        <h2 class="as-h5">Contacto</h2>
        <ul class="links-element">
          <li><a href="/contacto">Envíanos un correo</a></li>
          <li><a href="/contacto">Ubicaciones Estratégicas</a></li>
          <li><a href="/contacto">Políticas De Privacidad</a></li>
          <li><a href="/contacto">FAQ</a></li>
        </ul>
        <!-- <div class="social-media">
                  <a href="">
                    <img src="/assets/icons/facebook-icon.svg" alt="Facebook">
                  </a>
                  <a href="">
                    <img src="/assets/icons/instagram-icon.svg" alt="Instagram">
                  </a>
                </div> -->
      </div>
    </div>
  </div>
</div>
<div class="rights-element">
  <p>
    <span>EQUIPOS TECNI METALICOS S.A.S</span>
    &#64; 2025 Todos los derechos reservados
  </p>
</div>
