@use 'mixins' as *;

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  background-color: #101113;

  .navigator-element {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 12.9rem 0 11.2rem;

    &-container {
      display: flex;
      max-width: var(--max-width);
      flex-grow: 1;
      flex-wrap: wrap;
      align-items: start;
      justify-content: space-between;
      margin: var(--section-margin);
      gap: 9rem;

      .logo-element {
        width: 11.9rem;
      }

      .menu-element {
        display: flex;
        max-width: 124.2rem;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 3rem;

        .links-group {
          flex-shrink: 0;
          font-size: 1.8rem;

          @include custom-breakpoint(890) {
            flex: 1 0 27rem;
          }

          @include custom-breakpoint(672) {
            flex-basis: 25rem;

            &:nth-child(odd) {
              flex-basis: 16rem;
            }
          }

          h2 {
            margin-bottom: 2.2rem;
            color: var(--main-gray);
            font-weight: 700;
          }

          .links-element {
            li {
              margin-bottom: 1.3rem;
              list-style: none;

              a {
                color: #4c4d4e;
                font-weight: 500;
                text-decoration: none;
              }
            }
          }

          .social-media {
            display: flex;
            width: 11.884rem;
            justify-content: space-between;

            img {
              scale: 0.8;
            }
          }
        }
      }
    }
  }

  .rights-element {
    display: flex;
    width: 100%;
    min-height: 7.5rem;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #2f2f30;
    font-size: 1.5rem;

    p {
      margin: var(--section-margin);
      color: var(--main-gray);
      font-size: inherit;
      font-weight: 400;
      line-height: 1.6rem;
      opacity: 0.5;

      span {
        color: var(--main-white);
      }
    }
  }
}
