<section>
  <article class="mision">
    <h1 class="white-text">Nuestra misión: ser el soporte técnico confiable de la industria.</h1>
    <p class="gray-text">Satisfacer las necesidades y expectativas del cliente, suministrándole soluciones integrales en la prestación de los servicios ofrecidos tales como: reparación y mantenimiento de maquinaria pesada; garantizando su eficacia en el tiempo para mantenernos como líderes en servicio y rentabilidad, generación de empleo y bienestar a través de la promoción de actividades innovadoras en los sectores industriales y otros relacionados</p>
  </article>
  <article class="vision">
    <h1 class="white-text">Nuestra visión: consolidarnos como referentes en soluciones técnicas integrales.</h1>
    <p class="gray-text">En el año 2030 <b>EQUIPOS TECNIMETALICOS S.A.S</b> será una empresa líder a nivel nacional, y con expectativas de crecimiento a nivel internacional. Seremos una empresa que genere un manejo racional de los recursos que conduzcan a un crecimiento con rentabilidad y retribución justa para nuestra empresa, clientes, proveedores, colaboradores y para la sociedad en general, gracias a su gestión de calidad  responsabilidad.</p>
  </article>
</section>