<section>
  <div class="service-heading">
    <h2 class="black-text">Mantenimiento y Reparación de Equipos Especiales</h2>
    <p class="black-text">
      Ofrecemos un
      <b>portafolio integral de servicios</b>
      orientados al mantenimiento, reparación y fabricación de soluciones a la medida.
      <b>Contamos con amplia experiencia</b>
      en reparaciones de suspensión, chasis, carrocerías y furgones, así como en proyectos de
      transformación de acero y estructuras personalizadas.
    </p>
  </div>
  <div class="service-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae neque nec diam
      aliquet dapibus. Curabitur eleifend non libero a porttitor. Sed et dolor ac arcu scelerisque
      dictum. Maecenas nec ullamcorper nunc. Ut arcu enim, egestas ut elit eget, dapibus venenatis
      quam. Fusce sodales nisl at dolor consequat, non scelerisque ligula convallis. Ut nec elit
      risus. Mauris sollicitudin orci et elit ornare, sed vulputate dui feugiat. Sed sed eros vel
      augue iaculis commodo. Fusce vel fringilla ex, tincidunt ullamcorper ligula. Etiam eget mi sit
      amet elit malesuada tincidunt sit amet et dolor. Proin vel nulla erat. Maecenas eu aliquam
      enim, blandit faucibus tellus. Cras tortor ante, mattis et urna sed, vehicula porta nunc. Duis
      ac aliquet justo. Aenean vitae lacus tortor. Nulla placerat magna neque, quis feugiat sem
      imperdiet vitae. Pellentesque facilisis imperdiet augue vel varius. Vestibulum fermentum
      hendrerit ipsum at laoreet. Vestibulum vestibulum nibh lacus, et volutpat augue euismod
      posuere. Nullam id purus lacus. Morbi tempus mollis orci vel egestas. In accumsan nunc et
      semper volutpat. Nullam nisi urna, lobortis vel aliquam at, volutpat suscipit diam. Sed
      bibendum dignissim est sit amet placerat. Curabitur eget faucibus purus. Cras ac orci vel ex
      finibus congue. Morbi in maximus felis, non tincidunt tellus. Maecenas scelerisque viverra
      eros, vitae aliquet purus tincidunt et. Interdum et malesuada fames ac ante ipsum primis in
      faucibus. Integer ut ipsum at dui imperdiet pulvinar ac in augue. Duis suscipit neque mauris,
      a consequat magna posuere eu. Aenean at augue quis erat scelerisque suscipit. Nunc facilisis
      diam ligula, at tempus felis gravida sit amet. Curabitur fermentum mauris ac tellus imperdiet,
      ut volutpat diam commodo. Aliquam erat volutpat.
    </p>
  </div>
</section>
