@use 'mixins' as *;

:host {
  position: fixed;
  z-index: 5;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 3.4rem 0;
  transition:
    top 0.3s ease,
    background-color 0.5s ease;
}

.header-container {
  display: flex;
  max-width: var(--max-width);
  flex-grow: 1;
  justify-content: space-between;
  margin: var(--section-margin);

  img {
    cursor: pointer;
  }

  a {
    color: var(--light-white);
    text-decoration: none;
  }

  .logo {
    z-index: 6;

    &-extended {
      width: 14.8rem;
    }
  }

  .burguer-menu {
    z-index: 6;
    display: none;
    width: 2.9rem;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    gap: 3.4cqi;
  }

  .nav-panel {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    padding: clamp(10rem, 25cqi, 13.4rem) 0 0;
    background-color: var(--main-black);
    opacity: 0;
    transition:
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
    visibility: hidden;

    &.nav-panel-opened {
      opacity: 1;
      visibility: visible;
    }

    ::-webkit-scrollbar {
      width: 5.5rem;
      margin-left: 20px;
    }

    ::-webkit-scrollbar-thumb {
      border: 2.5rem solid rgb(0 0 0 / 0%);
      border-radius: 9999px;
      background-clip: padding-box;
      background-color: #333;
    }

    &-content {
      display: flex;
      max-width: var(--max-width);
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      margin: var(--section-margin);
      overflow-y: auto;

      .navigation {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;

        nav {
          display: flex;
          flex-direction: column;

          a {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 2.7rem 0;
            border-bottom: 1px solid #242424;
            color: var(--dark-gray);
            font-size: 2.9rem;
            gap: 1rem;

            &.current-page {
              color: var(--main-orange);
              text-decoration: underline;

              app-icon {
                display: none;
              }
            }
          }
        }

        .navigation-footer {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;
          justify-content: space-between;
          padding: 2.7rem 0;
          gap: 1.2rem;

          p,
          address {
            color: var(--light-white);
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 300;
            line-height: 1.5rem;
            text-transform: uppercase;
          }

          a {
            color: var(--dark-gray);
            font-size: 1.3rem;
            text-decoration: underline;
          }
        }
      }

      .rights {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        border-top: 1px solid #242424;
        font-size: 1.3rem;

        p {
          color: var(--dark-gray);
          font-size: inherit;
        }
      }
    }
  }

  @include custom-breakpoint(900) {
    .desktop-nav {
      display: none;
    }

    .nav-panel {
      display: block;
    }

    .burguer-menu {
      display: block;
    }
  }
}
