@use 'mixins' as *;

:host {
  display: flex;
  padding: 3.4rem 0 3.4rem 0;
  position: fixed;
  z-index: 5;
  width: 100%;
  justify-content: center;
  transition: top .3s ease, background-color .5s ease;
}

.header-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: var(--section-margin);

  img {
    cursor: pointer;
  }

  a {
    color: var(--light-white);
    text-decoration: none;
  }

  .logo {
    z-index: 6;
  }

  .burguer-menu {
    display: none;
    z-index: 6;
    width: 2.9rem;
  }

  .desktop-nav {
    display: flex;
    gap: 3.4cqi;
    align-items: center;
  }

  .nav-panel {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: var(--main-black);
    top: 0;
    right: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
    padding: clamp(10rem ,25cqi, 13.4rem) 0 0 0;

    &.nav-panel-opened {
      visibility: visible;
      opacity: 1;
    }

    ::-webkit-scrollbar {
      width: 5.5rem;
      margin-left: 20px;
    }

    ::-webkit-scrollbar-thumb {
      border: 2.5rem solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: #333;
    }

    &-content {
      height: 100%;
      max-width: var(--max-width);
      margin: var(--section-margin);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;

      .navigation {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        nav {
          display: flex;
          flex-direction: column;

          a {
            font-size: 2.9rem;
            color: var(--dark-gray);
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 2.7rem 0;
            border-bottom: 1px solid #242424;
            gap: 1rem;

            &.current-page {
                text-decoration: underline;
                color: var(--main-orange);

                app-icon {
                  display: none;
                }
              }
          }
        }

        .navigation-footer {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          flex-wrap: wrap;
          gap: 1.2rem;
          padding: 2.7rem 0;

          p,address {
            color: var(--light-white);
            font-size: 1.3rem;
            text-transform: uppercase;
            font-weight: 300;
            font-style: normal;
            line-height: 1.5rem;
          }

          a {
            color: var(--dark-gray);
            text-decoration: underline;
            font-size: 1.3rem;
          }
        }
      }

      .rights {
        display: flex;
        justify-content: space-between;
        font-size: 1.3rem;
        padding: 1rem 0;
        border-top: 1px solid #242424;

        p {
          font-size: inherit;
          color: var(--dark-gray);
        }
      }
    }
  }


  @include custom-breakpoint(900) {
    .desktop-nav {
      display: none;
    }

    .nav-panel {
      display: block;
    }

    .burguer-menu {
      display: block;
    }
  }

}
