<app-general-banner
  backgroundImage="/images/about-us-banner.webp"
  title="Cada proyecto es testimonio de nuestro cumplimiento y alto desempeño."
  text="Ofrecemos un portafolio integral de servicios orientados al mantenimiento, reparación y fabricación de soluciones a la medida. Contamos con amplia experiencia en reparaciones de suspensión, chasis, carrocerías y furgones, así como en proyectos de transformación de acero y estructuras personalizadas." />
<app-pillars />
<app-mision-vision />
<app-clients-carrousel style="background-color: var(--main-black)" />
<app-galery-section style="padding: 13.8rem 0 45.8rem" variant="about-us" />
