<app-general-banner
  backgroundImage="/images/about-us-banner.webp"
  title="Cada proyecto es testimonio de nuestro cumplimiento y alto desempeño."
  text="Somos un equipo especializado con sólida trayectoria en el sector metalmecánico y automotriz. Trabajamos con altos estándares de calidad, enfoque técnico y compromiso operativo para brindar soluciones confiables que fortalecen el desempeño y la productividad de nuestros clientes." />
<app-pillars />
<app-mision-vision />
<app-clients-carrousel style="background-color: var(--main-black)" />
<app-galery-section style="padding: 13.8rem 0 45.8rem" variant="about-us" />
