<section>
  <h1 class="white-text">
    Los pilares que sustentan nuestra identidad y compromiso con la industria.
  </h1>
  <div class="pillars">
    <div class="pillar">
      <span class="point">1</span>
      <div class="pillar-text">
        <h3 class="white-text">Acerca de nuestra ética</h3>
        <p class="gray-text">
          Trabajamos con compromiso y experiencia para ofrecer mantenimiento, reparación y
          fabricación a la medida. Nuestra prioridad es asegurar la eficiencia, prolongar la vida
          útil de su maquinaria y brindarle soluciones confiables respaldadas por materiales de la
          mejor calidad.
        </p>
      </div>
    </div>
    <div class="pillar">
      <span class="point">2</span>
      <div class="pillar-text">
        <h3 class="white-text">Acerca de nuestra transparencia</h3>
        <p class="gray-text">
          Trabajamos con compromiso y experiencia para ofrecer mantenimiento, reparación y
          fabricación a la medida. Nuestra prioridad es asegurar la eficiencia, prolongar la vida
          útil de su maquinaria y brindarle soluciones confiables respaldadas por materiales de la
          mejor calidad.
        </p>
      </div>
    </div>
    <div class="pillar">
      <span class="point">3</span>
      <div class="pillar-text">
        <h3 class="white-text">Apuntando al mejoramiento</h3>
        <p class="gray-text">
          Trabajamos con compromiso y experiencia para ofrecer mantenimiento, reparación y
          fabricación a la medida. Nuestra prioridad es asegurar la eficiencia, prolongar la vida
          útil de su maquinaria y brindarle soluciones confiables respaldadas por materiales de la
          mejor calidad.
        </p>
      </div>
    </div>
  </div>
</section>
