:host {
  padding: 17.4rem 0 10rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--main-black);

  section {
    flex-direction: column;
    gap: 8.8rem;
    position: relative;


    h1 {
      max-width: 115rem;
    }

    .pillars {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;

      .pillar {
        border-left: .1rem solid #ffffff28;
        flex: 1 1 32.4rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding: 0 1.5cqw;

        .point {
          display: block;
          width: 4.5rem;
          height: 4.5rem;
          background-color: var(--main-orange);
          border-radius: 50%;
          color: var(--main-white);
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 4.6rem;
        }

        .pillar-text {
          h3 {
            font-size: 2.5rem;
            font-weight: 800;
            line-height: 2.9rem;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}