:host {
  display: flex;
  justify-content: center;
  padding: 13.8rem 0;
}

section {
  flex-direction: column;
  gap: 3.5rem;

  h2 {
    max-width: 95.7rem;
  }

  .swipers-container {
    position: relative;
    left: 50%;
    display: flex;
    width: 100vw;
    flex-direction: column;
    margin-left: calc(50vw * -1);
    gap: 3.3rem;
  }
}
