@use 'swiper' as *;
@use 'mixins' as *;

:host {
  display: block;
  width: 100%;
}

.swiper {
  .swiper-wrapper {
    transition-timing-function: linear;

    .swiper-slide {
      background-color: var(--light-black);
      
      img {
        transition: all 0.3s ease-in-out;
        
        &:hover {
          opacity: 1;
          transform: scale(1.01);
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .6;
        cursor: pointer;

      }
    }
  }
}

@include swiper(34.5rem);

@include custom-breakpoint(500) {
  @include swiper(43.2rem);
}
