<div class="swiper" [id]="swiperID()">
  @if (!loading()) {
    <div class="swiper-wrapper">
      @for (image of images; track image.src; let index = $index) {
        <div class="swiper-slide">
          <img
            [ngSrc]="image.src"
            [alt]="image.alt"
            (click)="openPreview(index)"
            (load)="imageLoaded($event)"
            fill />
        </div>
      }
    </div>
  }
</div>

<app-galery-preview
  [images]="images"
  [isOpen]="isPreviewOpen()"
  [activeIndex]="activeIndex()"
  (closed)="closePreview()"
  (activeIndexChange)="onPreviewIndexChange($event)"></app-galery-preview>
