.whatsapp-redirection {
  position: fixed;
  bottom: 1.9em;
  right: 1.9rem;
  z-index: 100;
  background-color: var(--main-orange);
  width: 5.9rem;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  img {
    width: 2.7rem;
  }
}