.whatsapp-redirection {
  position: fixed;
  z-index: 100;
  right: 1.9rem;
  bottom: 1.9em;
  display: flex;
  width: 5.9rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color: var(--main-orange);

  img {
    width: 2.7rem;
  }
}
