@use 'mixins' as *;

:host {
  display: flex;
  min-height: 90rem;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--main-black);
}

section {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 3.5rem;

  .faq-heading {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.7rem 3rem;

    h2 {
      max-width: 94rem;
      flex: 1 0 0;
    }

    p {
      max-width: 71.4rem;
      flex: 1 5 0;
    }

    @include custom-breakpoint(1300) {
      flex-direction: column;

      h2 {
        max-width: none;
        text-wrap: balance;
      }

      p {
        max-width: 1900rem;
      }
    }
  }

  .questions {
    display: flex;
    gap: 1.2rem 1.5rem;

    .column {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      gap: 1.2rem;
    }

    @include custom-breakpoint(900) {
      .left-column {
        display: none;
      }
    }
  }
}
