<section>
  <div class="logo-explanation">
    <h3 class="white-text">Nuestro logo, un reflejo de nuestra identidad y propósito.</h3>
    <p class="white-text">
      El color del logo fue elegido estratégicamente para transmitir dinamismo, energía y vitalidad,
      valores que reflejan la esencia de la marca y su actitud proactiva. El círculo que lo envuelve
      simboliza movimiento continuo, integración y evolución constante, representando un ciclo
      infinito de compromiso y crecimiento. En conjunto, color y forma comunican estabilidad en
      acción, proyectando empresa sólida, innovadora y orientada al desarrollo.
    </p>
  </div>
  <div class="logo-image">
    <img src="/images/logo-phone.png" alt="Logo de la empresa" />
  </div>
</section>
