:host {
  padding: 7.3rem 0 20.9rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--main-black);

  section {
    flex-direction: column;
    gap: 4.8rem;
    position: relative;


    h1 {
      width: 103.8rem;
    }

      img {
        max-width: 100%;
        object-fit: contain;
        margin-bottom: 2.3rem;
        opacity: .6;
        cursor: pointer;
        border-radius: .3rem;

        transition: all 0.3s ease-in-out;

        &:hover {
          opacity: 1;
          transform: scale(1.01);
        }
      }
    
    
    .gallery {
      columns: 4 220px;
      column-gap: 2.3rem;
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 50%;
      background: #121315;
      background: linear-gradient(0deg, rgba(18, 19, 21, 1) 0%, rgba(18, 19, 21, 0) 50%);
      display: block;
      bottom: 0;
    }
  }
}