:host {
  display: flex;
  justify-content: center;
  padding: 7.3rem 0 20.9rem;
  background-color: var(--main-black);

  section {
    position: relative;
    flex-direction: column;
    gap: 4.8rem;

    h1 {
      max-width: 103.8rem;
    }

    img {
      max-width: 100%;
      border-radius: 0.3rem;
      margin-bottom: 2.3rem;
      cursor: pointer;
      object-fit: contain;
      opacity: 0.6;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 1;
        transform: scale(1.01);
      }
    }

    .gallery {
      column-gap: 2.3rem;
      columns: 4 220px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 50%;
      background: #121315;
      background: linear-gradient(0deg, rgb(18 19 21 / 100%) 0%, rgb(18 19 21 / 0%) 50%);
      content: '';
    }
  }
}
