@use 'mixins' as *;
@import 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--light-black);
  font-family: 'DM Sans', sans-serif;
}

:root {
  --section-x-margin: clamp(7rem, 7.7vw, 9.6rem);
  --section-margin: 0 var(--section-x-margin);
  --max-width: 1740px;
  --main-gray: #bfbfbf;
  --main-black: #121315;
  --main-white: #eee;
  --main-orange: #f86901;
  --light-black: #1a1b1d;
  --light-white: #fff;
  --dark-gray: #848484;
  --darker-gray: #59595b;
  --main-black-opacity: rgb(18 19 21 / 95%);
  --fs-900: clamp(3.2rem, 3.9cqi, 6rem);
  --fs-800: clamp(3.2rem, 3cqi, 6rem);
  --fs-700: clamp(2.2rem, 1.7cqi, 3.2rem);
}

@media (width <= 1600px) {
  :root {
    --section-x-margin: 3.8rem;
  }
}

@media (width <= 440px) {
  :root {
    --section-x-margin: 1.8rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-white);
  color: var(--main-black);
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  display: flex;
  max-width: var(--max-width);
  flex-grow: 1;
  margin: var(--section-margin);
}

h1, h2 {
  @include custom-text(var(--fs-900), var(--fs-900));
}

h4 {
  @include custom-text(var(--fs-700), var(--fs-700));
}

.as-h5 {
  @include custom-text(18px, 18px);
}

p {
  font-size: 2rem;
  font-weight: 200;
  line-height: 2.84rem;
}

b {
  color: inherit;
  font-weight: 700;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
  appearance: initial;
}

.l-white-text {
  color: var(--light-white);
}

.white-text {
  color: var(--main-white);
}

.black-text {
  color: var(--main-black);
}

.gray-text {
  color: var(--dark-gray);
}