@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--light-black);
}

:root {
  --section-x-margin: clamp(7rem, 7.7vw, 9.6rem);
  --section-margin: 0 var(--section-x-margin);
  --max-width: 1740px;

  --main-gray: #BFBFBF;
  --main-black: #121315;
  --main-white: #EEEEEE;
  --main-orange: #F86901;
  --light-black: #FFFFFF;
  --light-white: #FFFFFF;
  --dark-gray: #848484;
  --darker-gray: #59595B;

  --fs-900: clamp(3.2rem, 3.9cqi, 6rem);
  --fs-800: clamp(3.2rem, 3cqi, 6rem);
}

@media (max-width: 1600px) {
  :root {
    --section-x-margin: 3.8rem;
  }
}

@media (max-width: 390px) {
  :root {
    --section-x-margin: 1.8rem;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-white);
  color: var(--main-white);

  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  display: flex;
  flex-grow: 1;
  max-width: var(--max-width);
  margin: var(--section-margin);
}


h1 {
  @include custom-heading(var(--fs-900), var(--fs-900));
}

h2 {
  @extend h1;
}

p {
  font-weight: 200;
  font-size: 2rem;
  line-height: 2.84rem;
}

b {
  font-weight: 700;
}
